.DS_Store
.env
.env.*
!.env.example
.venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.log
.cache/
.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
build/
dist/
env/
logs/
nosetests.xml
coverage.xml
*.cover
*.egg-info/
pip-wheel-metadata/
profile_default/
pyvenv.cfg
venv/
/tests/models_offline/
